@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* ---------- Generic Classes ---------- */
:root {
  --primary_theme: #1ba717;
  /* #e28913 -- Orange */
  /* #daa520 -- Goldenrod */
  /* #1ba717 -- Green */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  z-index: 2;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
section {
  background-color: rgb(236, 236, 236);
  transition: all 300ms ease;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
button {
  cursor: pointer;
}
img {
  width: 100%;
}
input,
textarea {
  width: 100%;
  background-color: #252525;
  color: whitesmoke;
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 250ms ease;
}
input:hover,
textarea:hover {
  border-color: gray;
}
input:focus,
textarea:focus {
  border-color: var(--primary_theme);
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
label {
  font-size: 14px;
  font-weight: bold;
}
.container {
  padding: 50px 0px;
  width: 100%;
}
.row {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 12px;
}
.section_title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

.title {
  color: #252525;
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.site_theme {
    color: var(--primary_theme) !important;
}
.link_hover-effect {
  position: relative;
}
.link_hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0px;
  right: 0px;
  transition: all 200ms ease;
}
.link_hover-effect:hover::after {
  left: 0px;
  width: 100%;
}
.link_hover-effect-black::after {
  background-color: #252525;
}
.link_hover-effect-white::after {
  background-color: whitesmoke;
}
.link_hover-effect-theme::after {
  background-color: var(--primary_theme);
}
.click_effect {
  transition: all 200ms ease;
  cursor: pointer;
}
.click_effect:hover {
  transform: scale(1.15);
}
.click_effect:active {
  transform: scale(0.75);
}
nav,
.scroll_button,
header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 200ms;
}
.modal_open nav,
.modal_open .scroll_button,
.modal_open header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}
.dark-theme .title,
.dark-theme .section_title,
.dark-theme .section_subtitle,
.dark-theme .nav_link-anchor,
.dark-theme .fa-adjust,
.dark-theme .header_para,
.dark-theme .social_link-popup,
.dark-theme .language_name {
    color: whitesmoke;
}
.dark-theme section {
    background-color: #252525 !important;

}
.dark-theme .email_button {
    background-color: whitesmoke;
}
.dark-theme .email_link {
    color: #252525;
}
.dark-theme .scroll_icon {
    border-color: whitesmoke;
}
.dark-theme .scroll_icon::after,
.dark-theme .link_hover-effect-black::after {
    background-color: whitesmoke;
}
.dark-theme .nav_logo {
  filter: invert();  
  
}

/* ---------- Navigation Bar ---------- */

.nav_logo {
  filter: none;
  width: 50px;
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  height: 100px;
  padding: 0px 20px;
}
.nav_link-list {
  display: flex;
}
.nav_link {
  margin: 0px 12px;
}
.nav_link-anchor {
  font-size: 16px;
  color: #252525;
  font-weight: 700;
}
.fa-adjust {
  font-size: 20px;
}

/* ---------- Landing Page ---------- */

#landing {
  min-height: 100vh;
}
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0px 30px;
}
.header_para {
  font-size: 24px;
  line-height: 2;
  max-width: 500px;
  color: #252525;
}
.social_links {
  margin-top: 16px;
  display: flex;
}
.social_link {
  background-color: var(--primary_theme);
  color: whitesmoke;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.social_link-popup {
  color: #252525;
  position: absolute;
  right: 10px;
  bottom: -20px;
  left: 10px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  white-space: nowrap;
  text-align: right;
  transform: scale(0);
}
.social_link:hover .social_link-popup {
  transform: scale(1);
  opacity: 1;
}
.email_button {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #252525;
  color: whitesmoke;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 5;
  box-shadow: 0px 12px 30px 0px rgb(0, 0, 0, 0.4)
}
.email_link {
    color: whitesmoke;
}
.scroll_button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll_icon {
  width: 20px;
  height: 30px;
  border: 2px solid #252525;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll_icon:after {
  content: "";
  width: 4px;
  height: 5px;
  background-color: #252525;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
/* ---------- Modal ---------- */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1000ms, z-index 1000ms, box-shadow, 500ms ease;
}
.modal_open .modal {
  visibility: visible;
  box-shadow: 0px 20px 80px 0 rgb(0, 0, 0, 0.5);
  z-index: 50;
}
.modal_half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}
.modal_open .modal_half {
  transform: translateX(0%);
}
.modal_about {
  background-color: whitesmoke;
  transform: translateX(-110%);
}
.modal_contact {
  background-color: #252525;
  color: whitesmoke;
  transform: translateX(110%);
}
.modal_title {
  font-size: 24px;
}
.modal_subtitle {
  margin: 12px 0px 24px 0px;
  font-size: 14px;
}
.modal_para {
  margin-bottom: 24px;
  line-height: 1.75;
}
.modal_img-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 65%;
  margin: 0px auto;
  height: auto;
  box-shadow: 0px 20px 80px 0 rgb(0, 0, 0, 0.5);
}
.form_item {
  margin-bottom: 20px;
}
.form_submit {
  background-color: var(--primary_theme);
  border: 2px solid var(--primary_theme);
  color: whitesmoke;
  font-weight: 700;
  width: 100%;
  max-width: 180px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}
.form_submit:hover {
  background-color: transparent;
  border-color: whitesmoke;
}
.form_submit:active {
  border-color: var(--primary_theme);
  color: var(--primary_theme);
}
.modal_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.modal_overlay-success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 28px;
}
.modal_overlay-loading {
  background-color: #252525;
  font-size: 80px;
}
.modal_overlay-visible {
  z-index: 1;
  display: flex;
}
.fa-spinner {
  animation: spinner 750ms infinite linear;
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal_exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: whitesmoke;
  font-size: 36px;
  z-index: 150;
}

/* ---------- Languages ---------- */

.languages_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.language {
  width: 20%;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease;
}
.language:hover .language_name {
  transform: scale(1);
}
.language:hover {
  filter: brightness(0.8);
  transform: scale(0.9);
}
.language_name {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  bottom: -16px;
  transform: scale(0);
  transition: transform 250ms ease;
}
/* ---------- Projects ---------- */

.project_wrapper {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 20px 80px rgb(0, 0, 0, 0.5);
  margin-bottom: 32px;
}
.project_description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  color: #f5f5f5;
  max-width: 550px;
  opacity: 0;
  transition: opacity 350ms, transform 500ms ease;
}
.project_wrapper-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #252525;
  opacity: 0;
  transition: opacity 300ms ease;
}
.project_img {
  transition: all 300ms ease;
}
.project_description-title {
  font-size: 40px;
}
.project_description-link {
  color: whitesmoke;
  font-size: 20px;
  margin-right: 16px;
}
.project_description-para {
  margin: 16px 0px;
}
.project_description-subtitle {
  margin: 8px 0px;
}

.project_wrapper:hover .project_description {
  opacity: 1;
  transform: translateY(-50%);
}
.project_wrapper:hover .project_img {
  transform: scale(1.05);
  filter: blur(4px);
}
.project_wrapper:hover .project_wrapper-background {
  opacity: 0.75;
}

/* ---------- Footer ---------- */

footer {
  background-color: #252525;
  display: flex;
  padding: 6% 0px;
  position: relative;
}
.footer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo-wrapper {
  width: 70px;
}
.footer_social-list {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
.footer_social-link,
.footer_copyright {
  color: whitesmoke;
}
.footer_logo {
  filter: invert();  
}

/* ---------- Shapes ---------- */
.shape {
    position: fixed;
    width: auto;
    z-index: 0;
}
.shape-0 {
    top: 15vh;
    left: 5vw; 
}
.shape-1 {
    top: 15vh;
    left: 50vw; 
}
.shape-2 {
    top: 15vh;
    left: 80vw; 
}
.shape-3 {
    top: 50vh;
    left: 5vw; 
}
.shape-4 {
    top: 50vh;
    left: 50vw; 
}
.shape-5 {
    top: 50vh;
    left: 80vw; 
}
.shape-6 {
    top: 80vh;
    left: 5vw; 
}
.shape-7 {
    top: 80vh;
    left: 50vw; 
}
.shape-8 {
    top: 80vh;
    left: 80vw; 
}

@media (max-width: 768px) {
    .title {
        font-size: 80px;

    }
    .header_para {
        font-size: 20px;
    }
    .modal {
        top: 0px;
        left: 0px;
        transform: none;
        height: 100vh;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0px;
    }
    .modal_half {
        width: 100%;
        height: 50%;
    }
    .modal_half-about {
        flex-direction: row;
    }
    .modal_about-info {
        display: flex;
    }
    .modal_para {
        width: 50%;
    }
    .language {
        width: calc(100% / 3);
    }
    .modal_img-wrapper {
        width: 40%;
    }
    .project_description {
        left: 50px;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    .header_para {
        font-size: 18px;
    }
    .language {
        width: 50%;
    }
    .nav_link:first-child {
        display: none;
    }
    .project_description-para {
        display: none;
    }
    .project_description {
        left: 0px;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .project_description-subtitle {
        margin-bottom: 8px;
    }
    .modal_half {
        padding: 40px;
    }
    .modal_about-info {
        flex-direction: column;
    }
    .modal_img-wrapper {
        width: 30%;
    }
    .modal_para {
        width: 100%;
    }
    input {
        height: 32px;
    }
    textarea {
        height: 84px;
    }
    
}
